@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <div id="publicationList"></div>
        <p>Selected items:</p>
        <ul id="output"></ul>
    </div>
    <div class="col-md-4">

    </div>
</div>

@section scripts {

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
    <script type="text/javascript">
        $('#publicationList').jstree({
            'plugins': ["wholerow", "checkbox"],
            'core': {
                'data': {
                    "themes": {
                        "responsive": true
                    },
                    "url": '@Url.Action("GetPublications")',
                    "dataType": "json"
                }
            }
        });

        $('#publicationList').on('changed.jstree', function (e, data) {
            var objects = data.instance.get_selected(true)
            var leaves = $.grep(objects, function (o) { return data.instance.is_leaf(o) })
            var list = $('#output')
            list.empty()
            $.each(leaves, function (i, o) {
                $('<li/>').text(o.text).appendTo(list)
            })
        })

    </script>

}